.load-overlay {
  align-items: center;
  background-color: rgba($black, .75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;
}

.load-overlay__content {
  color: $white;
}
