<section class="current-set">
  <h3>Current selected set</h3>

  <ul class="current-set__list">
    <li *ngFor="let part of levelOneParts">
      <div class="current-set__part">
        <button type="button" class="current-set__part-item" (click)="openSelectPop(part.part)">
          <ng-container *ngIf="currentSet[part.part]">
            <span class="current-set__part-label">
              {{ currentSet[part.part].piece.name }}
            </span>
          </ng-container>
          <ng-container *ngIf="!currentSet[part.part]">
            Select a {{ part.label }}
          </ng-container>
        </button>
        <button class="current-set__part-remove" *ngIf="currentSet[part.part]" (click)="removeItem(currentSet[part.part].piece, part.type)"></button>
        <ng-container *ngIf="currentSet[part.part]">
          <ul class="current-set__deco-list" *ngIf="currentSet[part.part].slots">
            <li *ngFor="let slot of currentSet[part.part].slots; let i = index">
              <div class="current-set__part">
                <button class="current-set__part-item add-jewel"
                        (click)="openSelectPop('decoration', {
                      part: part.part,
                      index: i,
                      rank: slot.slot.rank
                  })">
                  <ng-container *ngIf="slot.decoration">
                  <span class="current-set__part-label">
                    {{ slot.decoration.name }}
                  </span>
                  </ng-container>
                  <ng-container *ngIf="!slot.decoration">
                    Add Jewel ({{ slot.slot.rank }})
                  </ng-container>
                </button>
                <button class="current-set__part-remove" *ngIf="slot.decoration" (click)="removeDecoration({
                part: part.part,
                index: i,
                rank: slot.slot.rank
              })"></button>
              </div>
            </li>
          </ul>
        </ng-container>
      </div>
    </li>
  </ul>
  <mhw-mhw-select-pop
  [open]="popOpen"
  [data]="itemsForPop"
  (selectedItem)="processSelection($event)"></mhw-mhw-select-pop>
</section>
