<section class="current-set">
  <h2>Current set selected</h2>

  <ul class="current-set__list">
    <li *ngFor="let part of levelOneParts">
      <div class="current-set__part">
        <button type="button" class="current-set__part-item" (click)="openSelectPop(part.part, part.isArmor)">
          <ng-container *ngIf="currentSet[part.part]">
            <span class="current-set__part-label">
              {{ currentSet[part.part].name }}
            </span>
          </ng-container>
          <ng-container *ngIf="!currentSet[part.part]">
            Select a {{ part.label }}
          </ng-container>
        </button>
        <button class="current-set__part-remove" *ngIf="currentSet[part.part]" (click)="removeItem(currentSet[part.part])"></button>
        <ul class="current-set__deco-list" *ngIf="currentSet[part.part] && 0 < currentSet[part.part].slots.length">
          <li *ngFor="let slot of currentSet[part.part].slots">
            <button class="current-set__part-item add-jewel add-jewel--size-{{ slot.rank }}">
              Add Jewel ({{ slot.rank }})
            </button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <mhw-mhw-select-pop
  [open]="popOpen"
  [items]="itemsForPop"
  (selectedItem)="processSelection($event)"></mhw-mhw-select-pop>
</section>
