.title-bar {
  align-items: center;
  background-color: $ci-primary;
  box-shadow: 0 0 20px rgba($black, .7);
  color: $black;
  display: flex;
  height: 64px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;

  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    color: inherit;
    font-weight: bold;
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
}
