<footer class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <p>Build up this set builder is a lot of work. I appreciate if you would support this project with a small donation.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=konrad.rolof@gmail.com&item_name=Friends+of+MHW+Armor+Builder&currency_code=EUR"
          target="_blank">
          <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
               title="PayPal - The safer, easier way to pay online!"
               alt="Donate with PayPal button">
        </a>
      </div>
      <div class="col-sm-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        Report an <a href="https://github.com/KonradRolof/mhw-armor-builder/issues" target="_blank">issue</a> |
        Visit project on <a href="https://github.com/KonradRolof/mhw-armor-builder" target="_blank">Github</a>
      </div>
    </div>
  </div>
</footer>
