$body-bg: $ci-dark;
$body-color: $ci-light;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1360px
);

$grid-gutter-width: 40px;

$font-size-base: 1rem;
$font-family-sans-serif: 'Roboto', sans-serif;

$font-weight-light: $ci-font-light;
$font-weight-normal: $ci-font-normal;
$font-weight-bold: $ci-font-bold;

$h1-font-size: $font-size-base * 1.7;
$h2-font-size: $font-size-base * 1.4;
$h3-font-size: $font-size-base * 1.1;
$h4-font-size: $font-size-base * 1;

$headings-color: $ci-primary;

$table-cell-padding: .3rem .5rem;
$table-cell-padding-sm: .2rem;
