// colors
$ci-dark: #222;
$ci-light: #eee;
$ci-primary: #cfee1d;

// rarity colors
$rarity-1: #c8c8c8;
$rarity-2: #a2b367;
$rarity-3: #a3bd46;
$rarity-4: #6ea367;
$rarity-5: #81abb1;
$rarity-6: #615ed0;
$rarity-7: #9262ef;
$rarity-8: #b38e7e;
$rarity-9: #bf6a87;
$rarity-10: #43c5e8;
$rarity-11: #dbbc53;
$rarity-12: #bcd4df;
