<ng-container *ngIf="true === open">
  <div class="select-pop">
    <button class="select-pop__close" (click)="emitSelection(null)"></button>
    <section class="select-pop__controls">
      <div class="box">
        <div class="box__inner">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5" *ngIf="true === rankSelectable">
              <div class="select-pop__select-area">
                <label for="sp-select">Select Rank</label>
                <select id="sp-select" [(ngModel)]="rankSelect" (change)="switchRank(rankSelect)">
                  <option value="low">Low Rank</option>
                  <option value="high">High Rank</option>
                  <option value="master">Master Rank</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-5" *ngIf="true === weaponSelectable">
              <div class="select-pop__select-area">
                <label for="sp-select-weapon-type">Select Weapon Type</label>
                <select id="sp-select-weapon-type" [(ngModel)]="currentWeaponType" (change)="switchWeaponType(currentWeaponType)">
                  <ng-container *ngFor="let weaponType of weaponTypes">
                    <option value="{{ weaponType.type }}">{{ weaponType.label }}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-7">
              <div class="select-pop__filter-area">
                <label for="sp-filter" *ngIf="'weapon' === data.type">Search for name</label>
                <label for="sp-filter" *ngIf="'weapon' !== data.type">Search for name or skill</label>
                <input type="search" id="sp-filter" placeholder="Type to search"
                       [(ngModel)]="filterInput" (keyup)="filterItems()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="select-pop__inner">
      <ul class="item-list select-pop__list" *ngIf="itemsToShow[selectedRank]">
        <ng-container *ngIf="'weapon' === data.type">
          <li *ngFor="let item of itemsToShow[selectedRank]">
            <div class="item-list__item">
              <button type="button"
                      [ngClass]="['item-list__btn', 'item-list__btn-type-' + item.type, 'rarity-' + item.rarity]"
                      (click)="emitSelection(item)">
                {{ item.name }}
              </button>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="'armor' === data.type">
          <li *ngFor="let item of itemsToShow[selectedRank]">
            <div class="item-list__item">
              <button type="button"
                [ngClass]="['item-list__btn', 'item-list__btn-type-' + item.type, 'rarity-' + item.rarity]"
                (click)="emitSelection(item)">
                {{ item.name }}
                <small class="item-list__skills" *ngIf="item.skills">
                  [<ng-container *ngFor="let skillRank of item.skills">
                    <span>{{ skillRank.skillName }} ({{skillRank.level}})</span>
                  </ng-container>]
                </small>
              </button>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="'charm' === data.type">
          <li *ngFor="let item of itemsToShow[selectedRank]">
            <div class="item-list__item">
              <button type="button" class="item-list__btn item-list__btn-type-{{ item.type }}" (click)="emitSelection(item)">
                {{ item.name }}
                <small class="item-list__skills" *ngIf="item.ranks[0].skills">
                  [<ng-container *ngFor="let skillRank of item.ranks[0].skills">
                    <span>{{ skillRank.skillName }}</span>
                  </ng-container>]
                </small>
              </button>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="'decoration' === data.type">
          <li *ngFor="let item of itemsToShow[selectedRank]">
            <div class="item-list__item">
              <button type="button" class="item-list__btn item-list__btn-type-{{ item.type }}" (click)="emitSelection(item)">
                {{ item.name }}
                <small class="item-list__skills" *ngIf="item.skills">
                  [<ng-container *ngFor="let skillRank of item.skills">
                    <span>{{ skillRank.skillName }} ({{skillRank.level}})</span>
                  </ng-container>]
                </small>
              </button>
            </div>
          </li>
        </ng-container>
      </ul>
      <div class="alert alert-warning" *ngIf="0 === itemsToShow[selectedRank].length">
        Sorry. For your selection no items exists.
      </div>
    </div>
  </div>
  <div class="select-pop-layer" (click)="emitSelection(null)"></div>
</ng-container>
