<article class="mhw-armor-builder">
  <header class="title-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto">
          <h1>Monster Hunter World - Set Builder</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3">

        <section class="box box--small">
          <header class="box__head">
            <h3>Weapons</h3>
            <label for="box-weapon-type">Select weapon type</label>
            <select id="box-weapon-type" [(ngModel)]="currentWeaponType" (change)="switchWeaponType(currentWeaponType)">
              <ng-container *ngFor="let weaponType of weaponTypes">
                <option value="{{ weaponType.type }}">{{ weaponType.label }}</option>
              </ng-container>
            </select>
          </header>

          <div class="box__inner">
            <ul class="item-list">
              <li *ngFor="let weapon of weaponsToShow">
                <div class="item-list__item">
                  <button type="button" class="item-list__btn" (click)="toggleCharmOrWeapon(weapon, 'weapon')">{{ weapon.name }}</button>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section class="box box--small">
          <header class="box__head">
            <h3>Armors</h3>
            <label for="rank-select">Select Rank</label>
            <select id="rank-select" [(ngModel)]="selectedRank">
              <option value="low">Low Rank</option>
              <option value="high">High Rank</option>
              <option value="master">Master Rank</option>
            </select>
          </header>

          <div class="box__inner">
            <ul class="item-list">
              <li *ngFor="let armorSet of armorSets[selectedRank]">
                <div class="item-list__item armor-item">
                  <button type="button" class="item-list__btn" (click)="toggleArmorSub(armorSet)">{{ armorSet.name }}</button>
                  <ul [ngClass]="{'part-list': true, 'open': armorSet.id === openedArmorSet}">
                    <li *ngFor="let piece of armorSet.pieces">
                      <button
                        type="button"
                        class="item-list__btn item-list__btn--rarity-{{ piece.rarity }} armor-item__part"
                        (click)="toggleArmorPart(piece, piece.type)">
                        {{ piece.name }}
                      </button>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section class="box box--small">
          <header class="box__head">
            <h3>Charms</h3>
          </header>
          <div class="box__inner">
            <ul class="item-list">
              <li *ngFor="let charm of charms">
                <div class="item-list__item">
                  <button type="button" class="item-list__btn" (click)="toggleCharmOrWeapon(charm, 'charm')">{{ charm.name }}</button>
                </div>
              </li>
            </ul>
          </div>
        </section>

      </div>
      <div class="col-xl-8">
        <div class="row">
          <div class="col-lg-5">
            <mhw-mhw-current-set
              [dataObj]="data"
              [curSet]="curSet"
              [resetSelection]="false"
              (setChanged)="postSetToStats($event)"></mhw-mhw-current-set>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="load-overlay" *ngIf="true === isLoading || true === hasDataError">
    <div class="load-overlay__content">
      <ng-container *ngIf="false === hasDataError">
        Loading ...
      </ng-container>
      <ng-container *ngIf="true === hasDataError">
        <div class="alert alert-danger">
          <p><b>Sorry! An error has occurred</b><br>
          {{ dataErrorMessage }}</p>
          Please refresh page or try again later.
        </div>
      </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
</article>
