<article class="mhw-armor-builder">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3">
        <h2>Armors</h2>
        <ul class="item-list">
          <li *ngFor="let armor of armors">
            <div class="item-list__item armor-item armor-item--rarity-{{ armor.rarity }}">
              <button type="button" class="item-list__btn" (click)="toggleArmorSub(armor)">{{ armor.name }}</button>
              <ul [ngClass]="{'part-list': true, 'open': true === armor.open}">
                <li *ngIf="null !== armor.head">
                  <button type="button" class="item-list__btn armor-item__part" (click)="toggleArmorPart(armor.head)">
                    {{ armor.head.name }}
                  </button>
                </li>
                <li *ngIf="null !== armor.body">
                  <button type="button" class="item-list__btn armor-item__part" (click)="toggleArmorPart(armor.body)">
                    {{ armor.body.name }}
                  </button>
                </li>
                <li *ngIf="null !== armor.arms">
                  <button type="button" class="item-list__btn armor-item__part" (click)="toggleArmorPart(armor.arms)">
                    {{ armor.arms.name }}
                  </button>
                </li>
                <li *ngIf="null !== armor.hip">
                  <button type="button" class="item-list__btn armor-item__part" (click)="toggleArmorPart(armor.hip)">
                    {{ armor.hip.name }}
                  </button>
                </li>
                <li *ngIf="null !== armor.legs">
                  <button type="button" class="item-list__btn armor-item__part" (click)="toggleArmorPart(armor.legs)">
                    {{ armor.legs.name }}
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xl-8">
        <div class="row">
          <div class="col-lg-4">
            <mhw-mhw-current-set
              [dataObj]="data"
              [curSet]="curSet"
              [resetSelection]="false"
              (setChanged)="postSetToStats($event)"></mhw-mhw-current-set>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</article>
