<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3">
      <h2>Armors</h2>
      <ul>
        <li *ngFor="let armor of armors">
          <div class="armor-item armor-item--rarity-{{ armor.rarity }}">
            {{ armor.name }} {{ armor.subName }}
            <ul>
              <li *ngIf="null !== armor.head">{{ armor.head.name }} {{ armor.head.subName }}</li>
              <li *ngIf="null !== armor.body">{{ armor.body.name }} {{ armor.body.subName }}</li>
              <li *ngIf="null !== armor.arms">{{ armor.arms.name }} {{ armor.arms.subName }}</li>
              <li *ngIf="null !== armor.hip">{{ armor.hip.name }} {{ armor.hip.subName }}</li>
              <li *ngIf="null !== armor.legs">{{ armor.legs.name }} {{ armor.legs.subName }}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
