.box {
  border: 3px double $ci-primary;
  margin-bottom: 20px;
  padding: 10px 0;

  @include media-breakpoint-up(lg) {
    padding: 15px 0;
  }
}

.box__head {
  padding: 0 15px 10px;

  @include media-breakpoint-up(lg) {
    padding: 0 25px 10px;
  }
}

.box__inner {
  padding: 0 15px;

  @include media-breakpoint-up(lg) {
    padding: 0 25px;
  }

  .box--small & {
    max-height: 350px;
    overflow: auto;
  }
}
