.set-bonus-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.set-bonus--disabled {
  line-height: 1.2;
  opacity: .5;
}

.set-bonus__label {
  font-size: 10px;
}

.set-bonus__name {
  font-size: 14px;
  font-weight: $ci-font-bold;
  margin: 0 0 2px;
  text-transform: uppercase;

  span {
    font-weight: $ci-font-light;
  }

  .set-bonus--disabled & {
    font-size: 10px;
    margin: 0;
  }
}

.set-bonus__description {
  font-size: 14px;
  font-weight: $ci-font-medium;

  .set-bonus--disabled & {
    font-size: 10px;
  }
}
